<template>
  <div>
    <HomeMenu/>
    <v-img
      :src="require('@/assets/images/Logo_XP_arena700px.png')"
      width="700px"
    />
    <WelcomeXpArenaOrganism/>
    <GamificationInfoOrganism/>
    <EasyComponent/>
  </div>
</template>

<script>

import HomeMenu from "../Molecules/HomeMenu";
import WelcomeXpArenaOrganism from "../Organisms/WelcomeXpArenaOrganism";
import GamificationInfoOrganism from "../Organisms/GamificationInfoOrganism";
import EasyComponent from "../Organisms/EasyComponent";

export default {
  name: "HomePage",
  components:{
    HomeMenu,
    WelcomeXpArenaOrganism,
    GamificationInfoOrganism,
    EasyComponent
  }
}
</script>

<style scoped>

div{
  margin: 0 auto;
}
</style>