  <template>
    <div>
    <nav class="desktop-menu">
      <ul>
        <a href=""><li>Home</li></a>
        <a href=""><li>About</li></a>
        <a href=""><li>Contact</li></a>
        <a href=""><li>Login</li></a>
      </ul>
    </nav>
    </div>
  </template>


  <script>
  export default {
    data: () => ({
      items: [
        { title: 'Home' },
        { title: 'About' },
        { title: 'Contact' },
        { title: 'Login' },
      ],
    }),
  }
  </script>

<style scoped>
.desktop-menu{
  display: flex;
  justify-content: flex-end;
}
ul {
  z-index: 10;
  position: fixed;
  display: flex;
}
li, a{
  font-weight: bold;
  color: white;
  margin: .5em .5em;
  list-style: none;
  text-decoration: none;
}

</style>