<template>
  <div>
    <h2>Easy to use</h2>
    <p>Getting started <span>easy</span> and <span>free</span>, you just need a <span>Google account</span>.</p>
    <v-img
        width="1000px"
        :src="require('@/assets/images/info-images/info-phone-mockup-closeup-blur.png')"
    >
      <div class="image-content">
        <h2>Login to start playing, game on!!</h2>
        <v-btn></v-btn>
      </div>
    </v-img>
    <p>You can also <span>create</span> a XP arena account, or <span>login</span> with a existing account.</p>
  </div>
</template>

<script>
export default {
  name: "EasyComponent"
}
</script>

<style scoped>
div{
  margin: 2em auto;
  text-align: center;

}

.image-content{
  margin: 0 auto;
}
</style>