<template>
  <div>
    <h2 class="title">Gamification</h2>
    <p>Xp Arena is a <span>framework</span> for gamifying <span>education</span>, to make learning challenging and more fun!</p>
    <div class="image-container">
      <div>
        <v-img
            :src="require('@/assets/images/info-images/Gamification-points.png')"
        />
      <p>Points</p>
      </div>
      <div>
        <v-img
            :src="require('@/assets/images/info-images/Gamification-badges.png')"
        />
        <p>Points</p>
      </div>
      <div>
        <v-img
            :src="require('@/assets/images/info-images/Gamification-leaderboard.png')"
        />
        <p>Points</p>
      </div>
      <div>
        <v-img
            :src="require('@/assets/images/info-images/Gamification-progress.png')"
        />
        <p>Points</p>
      </div>
      <div>
        <v-img
            :src="require('@/assets/images/info-images/Gamification-avatar.png')"
        />
        <p>Points</p>
      </div>
    </div>
    <hr>
  </div>
</template>

<script>
export default {
  name: "GamificationInfoOrganism"
}
</script>

<style scoped>

h2, p{
  text-align: center;
}
.image-container p {
  font-weight: bold;
}
.title{
  font-size: 2em;
  color: orange;
}

span{
  font-size: 1.5em;
  font-weight: bold;
}

.image-container{
  padding: 1em;
  margin: 1em auto;
  max-width: 1000px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background: rgba(0,0,0,0.20);
}

hr{
  margin: 2em auto;
  border: none;
  background: linear-gradient(0.25turn,  rgba(255,255,255,0%),  rgba(255,255,255,1),  rgba(255,255,255,0%));
  height: 2px;
  width: 60%;
}

</style>