<template>
  <div>
    <article>
      <div class="text">
      <h1>Welcome to XP arena!</h1>
      <p>XP arena is designed to be an <span>interface</span> to visualise <span>progress</span>, presented in a way that stimulates <span>motivation</span>.</p>
      </div>
      <v-img
        class="image"
        :src="require('@/assets/images/info-images/info-laptop-smartphone.png')"
        width="450px"
      />
    </article>
    <hr>
  </div>
</template>

<script>
export default {
  name: "WelcomeXpArenaOrganism"
}
</script>

<style scoped>
*{
  color: white;
}
article{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}
.text{
  align-self: flex-start;
}
  h1{
    font-size: 2.5em;
    font-weight: bolder;
  }
  p{
    margin: 3em 0;
  }
  span{
    font-size: 1.5em;
    font-weight: bold;
  }
.image{
  align-self: flex-end;
}
hr{
  margin: 2em auto;
  border: none;
  background: linear-gradient(0.25turn,  rgba(255,255,255,0%),  rgba(255,255,255,1),  rgba(255,255,255,0%));
  height: 2px;
  width: 60%;
}
@media (max-width: 600px) {
  article{
    flex-direction: column;
  }
  .image{
    align-self: center;
  }
  .text{
    align-self: center;
  }
}
</style>


