<template>
  <div id="app">
    <HomePage/>
  </div>
</template>
<script>
import HomePage from "./components/Pages/HomePage";
  export default {
  name: "App",
    components:{
      HomePage
    }
  }
</script>
<style lang="scss">

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&family=Urbanist&display=swap');

*{
  font-family: 'Urbanist', sans-serif;
  color: aliceblue;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
}
body{
  background: rgba(62,63,91,1.00);
}

</style>
